--- 

--- 

<footer class="container mx-auto mb-16">
  <hr class="mt-8"/>
  <div class="flex my-4 lg:flex-row  lg:justify-between flex-col justify-center items-center">
    <div class="flex flex-row gap-6">
      <button class="hover:text-blue-500 cursor-pointer">About</button>
      <button class="hover:text-blue-500 cursor-pointer">Blogs</button>
      <button class="hover:text-blue-500 cursor-pointer">Projects</button>
    </div>

    <div class="mt-4">
      <p> </p>
    </div>
   <div>
    <p class="text-wrap mt-4 text-gray-500">@2025 Copyright(C). All rights reserved.</p> 
   </div>

  </div>
 </footer>
