--- 

--- 

<footer class="container mx-auto">
  <hr class="mt-8"/>
  <div class="flex flex-row justify-between p-8">
    <div>
      <p>Copyright © 2023</p> 
    </div>

    <div>
      <p>What the hell is this</p>
    </div>
   <div>
      <p>This is my redemption</p>
    </div>

  </div>
 </footer>
