---
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.tsx';
import {NavBar} from "@/components/ui/NavBar.tsx"
import { Home, User, Briefcase, FileText, Mail } from 'lucide-react';

const navItems = [
    { name: 'Home', url: '#', icon: 'Home' },
    { name: 'Blogs', url: '#', icon: 'User' },
    { name: 'Projects', url: '#', icon: 'Briefcase' },
     ]
---
<header class="container w-5/6 px-4">
  <div class="flex justify-between">
    <NavBar items={navItems} client:only />
    <ThemeIcon client:only/>

  </div>
</header>
