---
import {TypewriterEffectSmooth} from '../components/ui/typewriter-effect.tsx'
const wordArray = [{text: "Building"}, {text: "AI-powered", className: "text-blue-500 dark:text-blue-500"}, {text: "web apps."}];
---
<section >
  <div class="flex flex-col items-center justify-center h-[21rem]  "> 
    <p class="text-neutral-600 text-sm dark:text-neutral-200  sm:text-base">
    💥 Indie full-stack dev shipping clean, fast, AI-augmented apps.
    </p>
    <TypewriterEffectSmooth words={wordArray}  client:only/>

  </div>
</section>


