---

import AvatarSunrise from '../components/ui/AvatarSunrise.tsx'
---


<div class="container w-[100%]">
    <div class="w-full mx-auto w-[100%]  flex justify-start md:ml-[4vw]">
        <AvatarSunrise imgSrc="dev1.png"  />
    </div>
</div>
