---

import AvatarSunrise from '../components/ui/AvatarSunrise.tsx'
---


<div class="container flex justify-start">
    <div class="inline-block">
        <AvatarSunrise imgSrc="dev1.png"  />
    </div>
</div>
