---
import { ViewTransitions } from 'astro:transitions';
import {BGPattern} from '../components/ui/bg-pattern.tsx';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../../global.css';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---
<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/dev1.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <ViewTransitions />
		<script is:inline>
			(function () {
			  try {
				const theme = localStorage.getItem("theme");
				const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
				if (theme === "dark" || (!theme && prefersDark)) {
				  document.documentElement.classList.add("dark");
				} else {
				  document.documentElement.classList.remove("dark");
				}
			  } catch (_) {}
			})();
		</script>
		<script is:inline>
		  document.addEventListener('astro:before-swap', () => {
			// document.documentElement.classList.add('is-transitioning');
		  });
		  document.addEventListener('astro:after-swap', () => {
			// document.documentElement.classList.remove('is-transitioning');
		  });
		</script>
	</head>
	<body class="flex flex-col ">
    <BGPattern variant="grid" mask="fade-edges" className="dark"/>
    <div class="container mx-auto px-[8vw]"> 
    <Header/>
    </div>
		<div class="container mx-auto px-[8vw] ">
			<slot />
    </div>
	</body>
</html>

<style is:global>
  html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
  @view-transition {
    navigation: auto; /* enabled! */
  }
</style>
