---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Footer from "../components/Footer.astro";
import AboutHome from "../components/AboutHome.astro";
import { slide } from 'astro:transitions';
---

<Layout title="About">
  <div >
    <AboutHome />
    <Footer />
  </div>
</Layout>
